// Colors
$color-white: #FFFFFF;
$color-black: #000000;
$color-red: #A00404;
$color-blue-light: #96A9C4;
$color-blue-dark: #415165;

// Font
$default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;