.heading-1 {
    font-size: 80px;
    line-height: 1.1875;
    padding-bottom: 22px;
}

.heading-2 {
    font-size: 32px;
    font-weight: 600;
    padding-bottom: 7px;
}

.heading-3 {
    font-size: 24px;
    font-weight: 600;
}

.heading-span {
    color: $color-red;
    font-size: 24px;
    font-weight: 600;
    margin-left: 16px;

    &--white {
        font-size: 24px;
        font-weight: 600;
        margin-left: 16px;
        color: $color-white;
    }
}

